<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcpiont.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.dcpiont.module.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <!--验证-->
    <select id="loginAuth" parameterType="com.dcpiont.module.User" resultMap="BaseResultMap">
        SELECT id,user_name
          FROM tb_user
         WHERE user_name=#{user.userName} AND password=MD5(#{user.password})
    </select>
    <!--注册-->
    <insert id="registUser" parameterType="com.dcpiont.module.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user(user_name,password)
             VALUES (#{userName},MD5(#{password}))
    </insert>
    <!--验证用户是否存在-->
    <select id="selectUserByName" parameterType="String" resultMap="BaseResultMap">
        SELECT id,user_name
          FROM tb_user
         WHERE user_name=#{userName}
    </select>
    <!--删除用户-->
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM tb_user
              WHERE id=#{userId}
    </delete>
    <!--更新用户密码，后期可能会增加修改头像功能-->
    <update id="updateUserInfo">
        UPDATE tb_user
           <set>
               <if test="password != null">
                   password=MD5(#{user.password}),
               </if>
           </set>
         WHERE id=#{user.id}
    </update>
</mapper>